@use "variables" as *;

.recipe-of-month-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.recipe-of-month-hero1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding: 15px;
    max-width: 1007px;

    .title, .ingredients {
        padding: 15px;
        border: 1px solid $primary-color;
        box-shadow: 3px 6px 10px $shadow-color, -3px 6px 10px $shadow-color;
    }
    
    .ingredients {
        min-width: 270px;
    }

    .image {
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        min-width: 320px;
        
        img {
            width: 100%;
            padding: 25px;
            border: 1px solid $primary-color;
            box-shadow: 3px 6px 10px $shadow-color, -3px 6px 10px $shadow-color;
        }
    }
}

@media screen and (width < 640px) {
    .recipe-of-month-hero1 {
        display: grid;
        grid-template-columns: 1fr;
        .image {
            grid-row: span 1;
        }
    }
}

.recipe-of-month-hero2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    max-width: 1007px;

    .preparation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    
        .preparationList {
            width: 100%;
            padding: 15px;
            border: 1px solid $primary-color;
            box-shadow: 3px 6px 10px $shadow-color, -3px 6px 10px $shadow-color;
        }
    
        .preparationInstruction {
            width: 100%;
            padding: 15px;
            border: 1px solid $primary-color;
            box-shadow: 3px 6px 10px $shadow-color, -3px 6px 10px $shadow-color;
        }
    }
}

li {
    font-size: 14px;
}

.primaryList > li {
    margin-left: 16px;
}

.secondaryList > li {
    margin-left: 32px;
}

ol > li {
    margin-left: 25px;
}

i {
    font-size: 12px;
}